@import '_variables' ;

form {
  width: 30%;
  margin: auto;
  margin-bottom: 50px;
  background-color: $color-secundario;
  padding: 10px;
  border-radius: $border-radius;
  font-family: $fuente-texto;
  color: $color-primario;
  box-shadow: $shadow;

  label {
    display: block;
  }

  input {
    margin-bottom: 14px;
    margin-top: 6px;
    width: 98%;
    height: 30px;
    border-radius: $border-radius;
    border: none;
    padding: 8px;
    color: $color-primario;
  }

  .btn {
    width: 101%;
  }
}
